body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; } 
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
html,body{font-size:12px;}





#article_div_ul {
	width: 1150px;
	min-height: 96px;
	padding: 20px;
	margin: 0 auto;
	padding-bottom: 0
}
#article_div_ul li {
	width: 1110px;
	height: 96px;
	padding: 20px;
	border-bottom: 1px solid #ccc
}
#article_div_ul li img {
	width: 90px;
	height: 90px;
	float: left
}

#article_div_ul li span {
	float: left;
	font-size: 12px;
	width: 300px;
	margin-left: 20px;
	margin-top: 20px
}

#article_div_ul li .price {
	font-size: 15px;
	margin: 20px 40px 0 100px;
	width: 50px
}

#article_div_ul li input {
	float: left;
	margin-top: 20px
}

#article_div_ul li i {
	float: left;
	font-size: 15px;
	font-weight: 700;
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 0 10px
}

#article_div_ul li p {
	float: left;
	margin: 0 10px;
	font-size: 15px;
	color: red;
	margin-top: 20px;
	margin-left: 100px
}

#article_div_ul li .delete_btn {
	float: right;
	margin-right: 90px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 1px solid #333333;
	line-height: 30px;
	text-align: center;
}

.article_ul_down .span {
	margin-left: 800px;
	font-size: 16px
}

.article_ul_down .article_ul_down1 {
	font-size: 16px;
	color: #f4296b
}
.one{margin-left: 30px;font-size: 20px;}
